.layoutNavigation {
    height: 100px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.layoutNavigation a {
    font-size: 30px;
    text-decoration: none;
}

.layoutNavigation a[class='active'] {
    background-color: rgba(165, 42, 42, 0.5);
    border-radius: 12px;
}